.app_header.webix_header {
    text-align: center;
}

.app_layout.webix_layout_clean {
    background: #EBEDF0;
}

.app_start .webix_template {
    padding: 12px 12px;
}

.app_menu .webix_icon {
    font-size: 20px;
    vertical-align: middle;
}